html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 350px;
}

.big-and-pretty {
  padding: 50px;
  background-color: #E5E513;
  font-size: 30px;
  color: #0A0A0A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
