html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 350px;
}

.big-and-pretty {
  padding: 50px;
  background-color: red;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
